<div layout="row" layout-margin layout-fill layout-sm="column" data-ng-controller="View2Ctrl">
  <md-card>
    <md-data-table-toolbar>
      <h3 class="md-headline">CV Matches</h3>
    </md-data-table-toolbar>

    <div>
      <h4>To narrow your search, try adjusting the weightage of the header that is closest to your
      needs</h4>
      <div layout>
        <div flex="10" layout layout-align="center center">
          <span class="md-body-1">Education</span>
        </div>
        <md-slider flex class="md-accent md-hue-1" md-discrete ng-model="weight.eduWeight"
                   step="1" min="1" max="10" aria-label="rating">
        </md-slider>
      </div>
      <div layout>
        <div flex="10" layout layout-align="center center">
          <span class="md-body-1">Essential Skill</span>
        </div>
        <md-slider flex md-discrete ng-model="weight.essSkillsWeight"
                   step="1" min="1" max="10" aria-label="rating">
        </md-slider>
      </div>
      <div layout>
        <div flex="10" layout layout-align="center center">
          <span class="md-body-1">Preferred Skill</span>
        </div>
        <md-slider flex class="md-warn" md-discrete ng-model="weight.prefSkillsWeight"
                   step="1" min="1" max="10" aria-label="rating">
        </md-slider>
      </div>
      <div layout>
        <div flex="10" layout layout-align="center center">
          <span class="md-body-1">Work Exp</span>
        </div>
        <md-slider flex class="md-primary md-hue-1" md-discrete ng-model="weight.workExpWeight"
                   step="1" min="1" max="10" aria-label="rating">
        </md-slider>
      </div>
      <div layout>
        <div flex="10" layout layout-align="center center">
          <span class="md-body-1">Language</span>
        </div>
        <md-slider flex class="md-primary" md-discrete ng-model="weight.languageWeight"
                   step="1" min="1" max="10" aria-label="rating">
        </md-slider>
      </div>
    </div>

    <div>
      {{cvMatch}}
    </div>
    <md-data-table-container>
      <table md-data-table md-row-select="selected" md-progress="deferred"> <!-- what is deferred? -->
        <thead md-order="query.order" md-trigger="onOrderChange">
          <tr>
            <th ng-repeat="column in columns" ng-attr-order-by="{{column.orderBy}}"
                ng-attr-numeric="{{column.numeric}}" ng-attr-unit="{{column.unit}}"
                name="{{column.name}}" ng-attr-descend-first="{{column.descendFirst}}"></th>
          </tr>
        </thead>
          <tbody>
            <tr md-auto-select data-ng-repeat="cv in cvMatch | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
              <td>{{cv.id.value}}</td>
              <td>{{cv.finalScore.value}}</td>
              <td data-ng-repeat="(key, value) in cv.scoringCriteria">{{key}} {{value.value}}</td>
            </tr>
          </tbody>
      </table>
    </md-data-table-container>
    <md-data-table-pagination
            md-limit="query.limit" md-page="query.page"
            md-total="{{cvMatch.length}}"
            md-trigger="onPaginationChange">

    </md-data-table-pagination>
  </md-card>
</div>

