<div layout="row" layout-margin layout-fill layout-sm="column" data-ng-controller="View1Ctrl">
  <md-card flex>
    <md-card-content>
      <h2>Analyze CVs!</h2>
      <div ngf-select ngf-drop ng-model="files" class="drop-box"
           ngf-drag-over-class="dragover" ngf-multiple="true" accept="application/pdf"
           ngf-pattern="'application/pdf'">Drop PDFs files here</div>
      <md-progress-linear ng-if="showProgressBar" md-mode="determinate" value="{{progress}}"></md-progress-linear>
      <md-button class="md-raised md-primary" data-ng-click="doProcess()" data-ng-disabled="!files">Process!</md-button>
      <div>
        {{fileNames}}
      </div>
    </md-card-content>
  </md-card>
  <md-card flex>
    <md-card-content>
      <pre>{{page1content}}</pre>
    </md-card-content>
  </md-card>
</div>